{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mt-5 mb-4 text-center">
                {% trans "Set Password" %}
            </h1>

            <form method="post" action="{% url 'account_set_password' %}" class="mt-4">
                {% csrf_token %}
                {{ redirect_field }}

                <div class="form-group">
                    {% element field form=form.new_password1 type="password" %}
                    <label for="{{ form.new_password1.id_for_label }}">
                        {% trans "New Password" %}
                    </label>
                </div>

                <div class="form-group">
                    {% element field form=form.new_password2 type="password" %}
                    <label for="{{ form.new_password2.id_for_label }}">
                        {% trans "Confirm New Password" %}
                    </label>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    {% trans 'Set Password' %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
