{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="change-password-container">
        <h1 class="change-password-title">{% trans "Change Password" %}</h1>
        {% url 'account_change_password' as action_url %}
        <form method="post" action="{{ action_url }}" class="change-password-form">
            {% csrf_token %}
            {{ redirect_field }}
            <div class="form-fields">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="form-error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}" class="forgot-password-link">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock content %}